<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mylistener</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet01</display-name>
    <servlet-name>MyServlet01</servlet-name>
    <servlet-class>com.shsxt.web.MyServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet01</servlet-name>
    <url-pattern>/myServlet01</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.shsxt.listener.MyContextLifeListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.shsxt.listener.MyContextAttrListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.shsxt.listener.MyRequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.shsxt.listener.MySessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.shsxt.bean.Person</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>MyServerle02</display-name>
    <servlet-name>MyServerle02</servlet-name>
    <servlet-class>com.shsxt.web.MyServerle02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServerle02</servlet-name>
    <url-pattern>/MyServerle02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet03</display-name>
    <servlet-name>MyServlet03</servlet-name>
    <servlet-class>com.shsxt.web.MyServlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet03</servlet-name>
    <url-pattern>/MyServlet03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet04</display-name>
    <servlet-name>MyServlet04</servlet-name>
    <servlet-class>com.shsxt.web.MyServlet04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet04</servlet-name>
    <url-pattern>/myServlet04</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.shsxt.bean.Teacher</listener-class>
  </listener>
</web-app>